<h1>Create Meeting</h1>
<form action="/meetings" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>Meeting Name:</label>
		<input type="text" name="meeting[meeting_name]">
	</p>
	<p>
		<label>Description:</label>
		<input type="text" name="meeting[description]">
	</p>
	<p>
		<label>Location:</label>
		<input type="text" name="meeting[location]">
	</p>
	<input type="submit" value="Create">
</form>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<p><%= e %></p>
	<% end %>
<% end %>