<h1 class="text-white".text-white>View Participant's <%= pluralize(@meetings.count, "Meeting") %></h1>
<table class="table table-striped table-dark table-bordered">
	<thead>
		<tr>
			<th>Meeting Name</th>
			<th>Meeting Description</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<% @meetings.each do |meeting| %>
		<tr>
			<td><%= meeting.meeting_name %></td>
			<td><%= meeting.description %></td>
			<td><%= meeting.location %></td>		
		</tr>
		<% end %>
	</tbody>
</table>
<button onclick="goBack()">Go Back</button>